.top-tab-container {
  border-bottom: 1px solid #eee;
  .tab {
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
    padding: 0 8px;
    border: 1px solid #eee;
    margin: 0 -1px -1px -1px;
    margin-right: -1px;
    background-color: #fff;
    cursor: pointer;
    &:hover {
      color: #599fff;
    }
    .tab-close {
      color: #ccc;
      font-size: 12px;
      transition: all 0.3s;
      &:hover {
        color: #666;
      }
    }
  }
  .active-tab {
    color: #1890ff;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    &:hover {
      color: #1890ff;
    }
  }
}